html,
body {
    background-color: rgb(23, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(163, 255, 126);
}

.container {
    background: rgb(29, 29, 29);
    padding: 2rem;
    height: auto;
    width: fit-content;
    border-radius: 4px;
    margin: 2rem;
    border: 1px solid #444;
}

.page {
    display: flex;
    flex-direction: row;
}

h3 {
    color: rgb(200, 173, 250)
}

input {
    outline: none;
    border: none;
    color: rgb(200, 173, 250);
    background-color: #444;
    margin: 0.4rem 0px;
    height: 20px;
    border-radius: 4px;
}

input:focus {
    color: rgb(163, 255, 126);
    border: 1px solid #ccc;
}