    html,
    body {
        background-color: rgb(23, 23, 23);
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: rgb(163, 255, 126);
    }
    
    .container {
        background: rgb(29, 29, 29);
        padding: 2rem;
        height: auto;
        width: fit-content;
        border-radius: 4px;
        margin: 2rem;
        border: 1px solid #444;
    }
    
    .page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    h3 {
        color: rgb(200, 173, 250)
    }
    
    input {
        outline: none;
        border: none;
        color: rgb(200, 173, 250);
        background-color: #444;
        margin: 0.4rem 0px;
        height: 20px;
        border-radius: 4px;
        text-align: center;
    }
    
    input:focus {
        color: rgb(163, 255, 126);
        border: 1px solid #ccc;
    }
    
    h2 {
        text-align: center;
    }
    
    button {
        outline: none;
        border: none;
        color: #222;
        background-color: rgb(0, 235, 80);
        border-radius: 4px;
        border: none;
        padding: 0.5rem;
    }
    
    button:hover {
        box-shadow: 0 0 1px 1px rgb(104, 245, 127);
    }
    
    #somar {
        padding: 0.5rem 4.2rem;
    }
    
    @media (max-width: 623px) {
        .container {
            width: 100%;
            align-items: center;
            align-content: center;
            align-self: center;
        }
        input,
        button {
            margin-left: 27%;
        }
        p {
            font-size: large;
        }
    }