html,
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(22, 22, 22);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(52, 226, 105);
}

h2 {
    color: rgb(52, 226, 105);
}

a:hover {
    text-decoration: overline;
}

p {
    color: rgb(250, 230, 230);
}

.links {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    flex-grow: 3;
}

.links a {
    padding: 22px;
    font-size: 20px;
}

.rodape,
.rodape * {
    text-align: center;
    font-size: 12px;
    color: rgb(52, 226, 105);
    margin-top: 5%;
}

.containers {
    background-color: rgb(32, 32, 34);
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    display: flex;
    flex-wrap: nowrap;
}

.container {
    width: 160%;
    animation-duration: 0.5s;
    transition: width 1s;
}

@keyframes aumentar {
    from {
        width: 160%;
    }
    to {
        width: 200%;
    }
}

.container:hover {
    animation-name: aumentar;
    width: 200%;
}

header {
    align-items: center;
    flex-direction: row;
}

.vr {
    border-left: 2px solid rgb(52, 226, 105);
    padding: 0.7rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: rgb(35, 35, 38);
}

 ::-webkit-scrollbar-thumb {
    background: rgb(52, 226, 105);
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 172, 80);
}

.projeto {
    background-color: rgb(32, 32, 34);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 10%;
}

.logo img {
    align-self: center;
    image-rendering: optimizeQuality;
}

.container-projeto {
    display: flex;
    width: auto;
    -ms-flex-align: center;
    padding: 1rem;
}

.comment p {
    padding: 1rem;
    font-size: 12px;
    color: rgb(52, 226, 105);
}

@media (max-width: 800px) {
    .logo img {
        width: 80%;
    }
    .containers {
        background-color: inherit;
        padding: none;
        margin: 0px;
        display: block;
        flex-wrap: wrap;
        width: 90%;
    }
    @keyframes aumentar {
        from {}
        to {}
    }
    .container:hover {
        /* animation: none !important; */
        width: auto;
    }
    .container {
        width: auto;
        background-color: rgb(32, 32, 34);
        padding: 1rem;
        border-radius: 6px;
    }
    .vr {
        visibility: hidden;
    }
}