body html {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

code {
    background: #181820;
    color: #90d0e4;
    padding: 2px;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background: rgb(35, 35, 38);
}

 ::-webkit-scrollbar-thumb {
    background: rgb(172, 42, 224);
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 22, 204);
}

body {
    background-color: rgb(22, 22, 22);
    font-family: 'Open Sans', sans-serif;
    padding: 1%;
}

h1 {
    color: rgb(52, 226, 105);
    text-align: center;
}

p {
    color: rgb(156, 203, 248);
    font-size: 15px;
}

.container {
    border-radius: 10px;
    margin: 0.5rem;
    background-color: rgb(22, 22, 22);
    text-align: center;
    padding: 1rem;
    width: 90%;
}

.container h1 {
    color: rgb(203, 88, 248);
    font-weight: bold;
    font-size: 28px;
}

.container p {
    color: rgb(52, 226, 105);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0.8rem;
    font-size: 20px;
}

.cardLeft {
    margin-top: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(35, 35, 38);
}

.spacer {
    width: 1%;
}

.cardRight {
    margin-top: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    background: rgb(35, 35, 38);
    align-items: center;
}

.container-right {
    border-radius: 10px;
    padding: 2rem;
    margin: 0.5rem;
    background-color: rgb(22, 22, 22);
    text-align: center;
    width: 80%;
}

.cardRight .container-right+p {
    color: rgb(52, 226, 105);
    font-size: 15px;
    text-align: end;
    padding: 3rem;
}

.container-right h1 {
    color: rgb(52, 226, 105);
    font-size: 28px;
}

.container-right p {
    font-size: 20px;
}

@media (max-width: 800px) {
    .cardLeft {
        padding: 1rem;
        display: block;
        text-align: justify;
    }
    .cardRight {
        display: block;
        padding: 1rem;
        text-align: center;
    }
    .cardRight .container-right+p {
        text-align: center;
    }
}